<mat-sidenav-container class="example-container">
  <div class="client-schedule borders">
    <h2>Client Schedule</h2>
    <button mat-raised-button (click)="openEngagementModal($event)">Add Engagement</button>
    <mat-icon class="pop-out" (click)="sidenav.toggle()" aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
    <div class="table-div">
      <table mat-table id="engagements-table" #dtable [dataSource]="currentEngagements" class="mat-elevation-z8"
        cdkDropList
        [cdkDropListData]="currentEngagements"
        (cdkDropListDropped)="drop($event)">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="firstRowWidth"> Client </th>
          <td mat-cell *matCellDef="let engagement"> {{ engagement.clientName }} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="secondRowWidth"> Engagement Description </th>
          <td mat-cell *matCellDef="let engagement"> {{ engagement.name }} </td>
        </ng-container>

        <ng-container *ngFor="let day of days" [matColumnDef]="day">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="dayWidth"> {{ day }} </th>
          <td mat-cell *matCellDef="let engagement; let i = index" class="makeExcelBorder" [style.background-color]="getSchedColor(day)">
            <div *ngIf="!engagement.clientName">
              <mat-form-field class="makeSmall">
                <input matInput [disabled]="engagement[day] === 'personal'" (change)="detectScheduling($event, day, i, engagement)">
                <span matSuffix *ngIf="engagement[day] === 'personal'">- / 8</span>
                <span matSuffix *ngIf="engagement[day] !== 'personal'">/ 8</span>
              </mat-form-field>
            </div>
            <div *ngIf="engagement.clientName">
              {{ engagement[day] ? engagement[day] : 0 }}
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsEng"></tr>
        <tr mat-row cdkDrag *matRowDef="let row; columns: displayedColumnsEng;" [cdkDragDisabled]="row.clientName" (click)="assignQuickEngagement(row)"></tr>

      </table>
    </div>
  </div>

  <div class="personnel-availability borders">
    <h2>Personnel Availability</h2>
    <button mat-raised-button (click)="openPersonnelModal($event)">Add Personnel</button>
    <button mat-raised-button>Add Future Hire</button>
    <mat-checkbox class="classification" [(ngModel)]="checkedClass">Show Classification</mat-checkbox>
      <div class="table-div">
        <table mat-table [dataSource]="currentPersonnel" class="mat-elevation-z8"
        cdkDropList
        [cdkDropListConnectedTo]="['engagements-table']"
        [cdkDropListData]="currentPersonnel">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="firstRowWidth">ID</th>
            <td mat-cell *matCellDef="let personnel"> {{personnel.id}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="secondRowWidth"> Name </th>
            <td mat-cell *matCellDef="let personnel"> {{personnel.name}} - {{ personnel.classification }} </td>
          </ng-container>

          <ng-container matColumnDef="classification">
            <th mat-header-cell *matHeaderCellDef> Classification </th>
            <td mat-cell *matCellDef="let personnel"> {{personnel.classification}} </td>
          </ng-container>

          <ng-container *ngFor="let day of days" [matColumnDef]="day">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="dayWidth"> {{ day }} </th>
            <td mat-cell *matCellDef="let personnel" class="makeBorder" cdkDragPlaceholder [style.background-color]="getColor(personnel, day)">
              {{ getHours(personnel, day) }}
            </td>
          </ng-container> 

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row cdkDrag class="highlight" [cdkDragDisabled]="row.clientName" *matRowDef="let row; columns: displayedColumns;" (click)="assignQuickClient(row)"></tr>

        </table>
      </div>
  </div>

  <mat-sidenav #sidenav class="sidenav" position="end" mode="side">
    <div class="sidenav-contents">
      <h2>Quick Entry</h2>
        <div class="dropdowns">
          <h4 class="field-labels">Personnel Name:</h4>
          <mat-form-field appearance="fill" class="selections">
            <mat-label>Select Personnel</mat-label>
            <mat-select [(ngModel)]="quickPersonnel">
              <mat-option *ngFor="let person of currentPersonnel" [value]="person.name">
                {{person.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="dropdowns">
          <h4 class="field-labels">Engagement:</h4>
          <mat-form-field appearance="fill" class="selections">
            <mat-label>Select Engagement...</mat-label>
            <mat-select [(ngModel)]="quickEngagement">
              <mat-option *ngFor="let engagement of currentEngagements" [value]="engagement.name">
                {{engagement.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="dropdowns">
          <h4 class="field-labels">Start Date:</h4>
          <mat-form-field appearance="fill" class="selections">
            <mat-label>Select Start</mat-label>
            <mat-select [(ngModel)]="startDate">
              <mat-option *ngFor="let day of days" [value]="day">
                {{ day }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="dropdowns">
          <h4 class="field-labels">End Date:</h4>
          <mat-form-field appearance="fill" class="selections">
            <mat-label>Select End</mat-label>
            <mat-select [(ngModel)]="endDate">
              <mat-option *ngFor="let day of endDateArr" [value]="day">
                {{ day }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      <div class="dropdowns">
        <h4 class="field-labels">Hours</h4>
        <mat-form-field appearance="fill" class="selections" #hours>
          <mat-label>Enter Hours...</mat-label>
          <input matInput placeholder="Ex. 8" [(ngModel)]="quickHours">
        </mat-form-field>
      </div>
      <button type="submit" mat-raised-button class="quickEntry" (click)="quickEntry()">Save Quick Entry</button>
    </div>
  </mat-sidenav>

</mat-sidenav-container>